<!DOCTYPE html>
<html lang="en">
<head>
    <title>Liam Holt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="description" content="This is my site where I try and make things look pretty" />
    <meta name="author" content="Liam Holt" />
    <meta name="keywords" content="Liam Holt,Li223,li223,li,Li,software,developer,software developer" />
    <meta property="og:image" content="https://li223.dev/Images/icon.png">
    <link rel="icon" type="image/png" href="~/Images/icon.png" />
    <link rel="stylesheet" href="~/css/style.min.css" type="text/css">
</head>

<body>
    <div class="navbar">
        <ul class="navbar-data">
            <li class="navbar-item"><a class="navbar-item-link" href="/">Home</a></li>
            <li class="navbar-item"><a class="navbar-item-link" href="/Projects">Projects</a></li>
            <li class="navbar-item"><a class="navbar-item-link" href="/Knowledge">Knowledge</a></li>
        </ul>
    </div>

    @RenderBody()

<div class="main-footer">
    <p class="footer-item"><a class="footer-item-link" href="mailto:contact@li223.dev">Contact Email: contact@li223.dev</a></p>
    <p class="footer-item"><a class="footer-item-link" href="https://discordapp.com">Discord: li223#5153</a></p>
    <p class="footer-item"><a class="footer-item-link" href="https://ko-fi.com/litwotwothree">Support Me: Ko-fi Link</a></p>
    <p class="footer-item"><a class="footer-item-link" href="https://www.linkedin.com/in/liam-h-43237b140">LinkedIn Page</a></p>
    <p class="footer-item"><a class="footer-item-link" href="https://github.com/li223/Site">Site Source Code</a></p>
    <p class="footer-item"><a class="footer-item-link" href="https://github.com/li223">Github Account</a></p>
</div>
</body>
</html>