@model ErrorViewModel

    <html>
        <head>
            <title>Error Page</title>
            <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        </head>
        <body>
            <div class="contentdiv">
                <h1>Error.</h1>
                <h2>An error occurred while processing your request.</h2>

                <image src="https://http.cat/@Model.ErrorCode" alt="Error Image"></image>
                <a href="https://li223.dev/">Back to Safety</a>
            </div>
        </body>
    </html>