<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Liam Holt</title>

        <meta charset="UTF-8" />
        <meta name="description" content="This is my site where I try and make things look pretty" />
        <meta name="author" content="Liam Holt" />
        <meta name="keywords" content="Liam Holt,Li223,li223,li,Li,software,developer,software developer" />
        <meta property="og:image" content="https://li223.dev/Images/icon.png">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
        <link rel="icon" type="image/png" href="~/Images/icon.png" />
        <link rel="stylesheet" href="~/css/style.css" type="text/css">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <noscript>
            <meta http-equiv="refresh" content="0; URL='https://li223.dev/noscript'" />
        </noscript>
    </head>

    <body>
        <div class="welcomediv">
            <h1>Welcome to my site</h1>
            <h2>This is where I pretend I'm good at ASP.Net Development</h2>
        </div>
        <div class="contentdiv">
            <h2>Introduction</h2>
            <p style="display: inline">I am a 19 year old Software Developer. I have been developing programs since year 9 (using Python) and have since taken to learning a lot in my free time.</p>
            <br />
            <br />
            <p style="display: inline">
                I started with programming in Python for my GCSE Computer Science which is what first sparked my interest in Software.
                From there at the start of college I got introduced to C#, which has now became my main language of choice. I have been creating applications and messing around with the language
                for just over 3 years now in my own time and have a good knowelege base, of which, I wish to improve upon overtime. I decided to not go to University after College as I wanted to get practical knowlege of
                Software Development and the different technologies used which is something I wouldn't get at University.
            </p>
            <img style="padding-top:6%; align-self:center;" class="contentimg" src="~/Images/dev.jpg" alt="Dev Icon" />
        </div>
        <div class="contentdiv">
            <h2>Github</h2>
            <p>Most of my code is uploaded to my <a href="https://www.github.com/li223">github</a></p>
            <img class="contentimg" src="Images/gh.png" alt="Github Icon" />
        </div>
        <div class="contentdiv">
            <h2>Overall Experience</h2>
            <p>I have experience in the following things:</p>
            <ul id="ContentList">
                <li>C# - Main Language used to program</li>
                <li>ASP.Net Core (MVC) - Used to develop this site</li>
                <li>.Net (Core) Framework</li>
                <li>Agile Development (Kanban) using JIRA</li>
                <li>Git Source Control</li>
                <li>Team Foundation Server (TFS) Source Control</li>
                <li>WPF Applications</li>
                <li>Java</li>
                <li>Python - First Language</li>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>JQuery</li>
                <li>Regular Expressions</li>
                <li>REST</li>
                <li>PostgreSql</li>
                <li>MySql</li>
                <li>Sql Server Management System (SSMS)</li>
                <li>Some Linux Experience - Droplet used to host this site uses Ubuntu 18.02</li>
            </ul>
            <img class="contentimg" alt="Some Image" src="~/Images/VisualStudio.png" />
        </div>
        <p id="footer"></p>
    </body>
</html>