<div id="intro-div">
    <h1>Self Introduction</h1>
    <p style="padding: 0px 5% 0px 5%;">
        I am 20 years old and have been developing applications in C# for over 4 years and have a variety of experience within .Net. My journey began in Year 9 when I decided to study GCSE Computer Science. During this time I was first exposed to Python and quickly learnt some core programming concepts such as variable types.
        <br />
        <br />From there I went on to do a BTEC Level 3 Extended Diploma in IT(Web and Software Development). It was here when I was introduced to the C# Programming Language and took to it quickly. I started to do personal projects in C# and went on to learn a variety of different things. I first learnt the basics of Task-Based Asynchronus Pattern (TAP) and went on to create multiple Discord Bots using a library called <a href="https://github.com/DSharpPlus/DSharpPlus">DSharpPlus</a> (D#+).
    </p>
    <br />
    <h1>Additional</h1>
    <p style="padding: 0px 5% 0px 5%;">I upload everything I do to my <a style="color:var(--hov-col);" href="https://github.com/li223">Github</a> Page.
    <br/>
    <br/>Notable projects can be found under the "Projects" tab and a further breakdown of my knowledge and what I have used can be found under the "Knowledge" tab</p>
</div>