<div class="knowledge-div">
    <h1>Overview</h1>
    <p style="text-align: left; padding-left: 2%; padding-bottom: 0;">I have a solid base of knowledege from the various projects I have worked on and I am always learning new ways of doing something. Below is a brief list of different technologies I have and currently use.</p>
    <ol>
        <li class="know-li"><p class="know-lipini">C# Programming Language</p><p> - This is the main language I use for all of my applications. It has a wide variety of features and is easy to pick up. I have been using C# for about 4 years now.</p></li>
        <li class="know-li"><p class="know-lipini">.Net Core (v2.x/v3.x)</p><p> - I mainly use .Net Core in most, if not all, projects that I do. This is primarily so that more people can use it as .Net Core is cross platform so can run on Linux, MacOS, and Windows.</p></li>
        <li class="know-li"><p class="know-lipini">WPF</p><p> - I have used WPF Applications primarily for applications that require a graphic element. This includes a Countdown (TV Show) style application, and a Higher or Lower (Cards) game</p></li>
        <li class="know-li"><p class="know-lipini">ASP.Net Core MVC (v2.x/v3.x)</p><p> - I learnt how to create a website using ASP.Net as an alternative to using Node.js or PHP. I feel like Razor and C# is more versitile than either of the other options and quickly took to using ASP.Net to create this website. ASP.Net is also used my side project: <a href="https://github.com/naamloos/CHANdler>CHANdler">CHANdler</a></p></li>
        <li class="know-li"><p class="know-lipini">Entity Framwork Core</p><p> - When creating Discord Bots and other applications I developed the need to use databases. While I could set up a connection to a MySQL DB, I only knew how to send Raw SQL string requests which are a massive security flaw as one mistake in my request could allow an attacker to drop the database. This is why I then looked for alternatives and came across EF Core which doesn't require me to use Raw SQL strings as it's all managed for me.</p></li>
        <li class="know-li"><p class="know-lipini">PostgreSQL/Sqlite</p><p> - While using EF Core I decided to stop using MySQL and instead use alternative database engines. This is when I came across PostgreSQL and SQLite, both of which are great alternatives. SQLite is ideal for small scale applications as the database is a single file located within the project foler. PostgreSQL is a great alternative for large scale applications as it gives you more options.</p></li>
        <li class="know-li"><p class="know-lipini">Tasked-Based Asynchronous Pattern (TAP || Async/Await)</p><p> - During the time when I first started out using C# I quickly found that my code would block the main thread which froze the application. When looking for a solution to this issue I came across the concept of Async/Await which allows the main thread to run without inturruption.</p></li>
        <li class="know-li"><p class="know-lipini">Git Source Control</p><p> - As I upload my projects to Github I have gained some knowledge on Git Source control</p></li>
        <li class="know-li"><p class="know-lipini">Javascript Object Notation (JSON)</p><p> - While creating wrappers for various APIs, I obviously had to use and parse JSON data to and from the API.</p></li>
        <li class="know-li"><p class="know-lipini">RESTful APIs</p><p> - As previously mentioned, I have used various public APIs and as such have experience with RESTful APIs. I have used this knowledge in <a href="https://github.com/nammloos/CHANdler">CHAndler</a> to create a backend API within the application.</p></li>
        <li class="know-li"><p class="know-lipini">Web Dev (HTML/JS/CSS)</p><p> - I have experience creating websites and have used HTML and CSS extensively. My knowledge of Javascript however is limited due to me not using it or JS libs often.</p></li>
        <li class="know-li"><p class="know-lipini">Linux (Ubuntu 18.09)</p><p> - I host my website on a droplet that is running Ubuntu v18.09 which means I have some minor experience with Linux Enviroments.</p></li>
    </ol>
</div>

<div class="knowledge-div">
    <h1>Skill Tests</h1>
    <p style="text-align:left; padding-left: 2%;">I have taken a few skill tests to give a more objective view of my skill level</p>
    <ol>
        <li class="know-li"><p class="know-lipini">Pluralsight C# Test</p><p> - Proficient (171 score)</p></li>
        <li class="know-li"><p class="know-lipini">LinkedIn Assesment</p><p> - C# (Passed)</p></li>
        <li class="know-li"><p> - .Net Framework (Passed)</p></li>
        <li class="know-li"><p> - Javascript (Passed)</p></li>
        <li class="know-li"><p> - PHP (Passed)</p></li>
        <li class="know-li"><p> - MySQL (Passed)</p></li>
    </ol>
</div>