<div class="project-div">
    <h1 class="project-h1tag">Personal Website</h1>
    <p class="project-ptag">The link below will take you to the source code for this website</p>
    <a class="project-link" href="https://github.com/li223/Site">Source Code</a>
    <img class="project-img" src="~/Images/icon.png" />
</div>

<div class="project-div">
    <h1 class="project-h1tag">CHANdler</h1>
    <p class="project-ptag">This project is a open source board server software similar in style to 4chan. The concept is that all posts are Anonymous and no kind of account data for regular users is saved. This project also features more moderation and customisation for each board.</p>
    <a class="project-link" href="https://github.com/naamloos/CHANdler">Source Code</a>
    <img class="project-img" src="https://camo.githubusercontent.com/e1c0189cc57bc2e9e8e5be170dac695371ded38d/68747470733a2f2f692e6b796d2d63646e2e636f6d2f70686f746f732f696d616765732f6e657773666565642f3030302f3737392f3338382f6433332e6a7067" />
</div>

<div class="project-div">
    <h1 class="project-h1tag">Tinder.Net</h1>
    <p class="project-ptag">A basic wrapper for Tiner's private API. This is one of many projects where I reverse engineered private APIs by reading and testing requests sent through the browser. </p>
    <a class="project-link" href="https://github.com/li223/Tinder.Net">Source Code</a>
    <img class="project-img" src="https://tinder.com/static/tinder.png" />
</div>

<div class="project-div">
    <h1 class="project-h1tag">CodeSheriff</h1>
    <p class="project-ptag">A basic bot that looks at code blocks posted by users and notifies them if they use any bad practices (such as .Result instead of await) and what issues can occur.</p>
    <a class="project-link" href="https://github.com/GHXX/CodeSheriff">Source Code</a>
    <img class="project-img" src="https://raw.githubusercontent.com/GHXX/CodeSheriff/master/ProfilePic.png" />
</div>

<span></span>