:root {
    --main-bg: #212428;
    --text-col: #ffffff;
    --div-bg: #0a0b0c;
    --hov-col: #b3390c;
}

img {
    height: 95%;
    width: 100%;
}

body {
    background-color: var(--main-bg);
}

div {
    background-color: var(--div-bg);
    border-color: var(--div-bg);
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 0.25%;
}

ol {
    list-style: none;
    list-style-type: none;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: left;
    text-align: center;
    display: block;
}

a {
    color: var(--hov-col);
}

#intro-div {
    margin-top: 5%;
    padding-bottom: 2%;
}

.navbar-data {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline;
    float: left;
    padding: 0px 2% 0px 2%;
}

.navbar-item a.navbar-item-link:hover {
    background-color: var(--hov-col);
}

.navbar-item-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
}

.main-footer {
    background-color: var(--div-bg);
    position: page;
    margin: 5% 0px 0px 0px;
    overflow: hidden;
}

.footer-item {
    display: inline;
    float: left;
    margin-left: 10px;
    padding: 0px 2% 0px 2%;
}

.footer-item a.footer-item-link:hover {
    background-color: var(--hov-col);
}

.footer-item-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
}

.project-div {
    width: 200px;
    height: 350px;
    padding-bottom: 2%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 5%;
    vertical-align: middle;
}

.project-link {
    text-align: center;
    display: block;
}

.project-img {
    height: 100px;
    width: 100px;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-h1tag {
    font-size: 125%;
}

.project-ptag {
    font-size: 100%;
}

.knowledge-div {
    margin-top: 3%;
    padding-bottom: 2%;
}

.knowledge-div p {
    text-align: left;
}

.know-lipini {
    color: var(--hov-col);
}

.know-li {
    color: var(--text-col);
    padding-top: 2%;
}