<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="This is the hack ass thing I call documentation" />
    <meta name="author" content="Liam,Ryan" />
    <meta name="keywords" content="CHANdler,chandler,chan,chanler,CHANler" />
    <meta property="og:image" content="https://camo.githubusercontent.com/e1c0189cc57bc2e9e8e5be170dac695371ded38d/68747470733a2f2f692e6b796d2d63646e2e636f6d2f70686f746f732f696d616765732f6e657773666565642f3030302f3737392f3338382f6433332e6a7067">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Images/icon.png" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <noscript>
        <meta http-equiv="refresh" content="0; URL='https://li223.dev/noscript'" />
    </noscript>
</head>

<body>
    <div class="contentdiv">
        <h2 id="boardobject">Board Object</h2>
        <p>This object represents an image board</p>
        <br />
        <br />
        <p>Tag: string</p>
        <br />
        <p>Name: string</p>
        <br />
        <p>Description: string</p>
        <br />
        <p>ImageUrl: string</p>
        <br />
        <p>Motd: string</p>
    </div>

    <div class="contentdiv">
        <h2 id="servermetaobject">ServerMeta Object</h2>
        <p>This object represents sever metadata</p>
        <br />
        <br />
        <p>StartTime: DateTime</p>
        <br />
        <p>UpTime: TimeSpan</p>
    </div>

    <div class="contentdiv">
        <h2 id="threadobject">Thread Object</h2>
        <p>This object represents sever metadata</p>
        <br />
        <br />
        <p>Id: int</p>
        <br />
        <p>ParentId: int</p>
        <br />
        <p>BoardTag: string</p>
        <br />
        <p>Image: string</p>
        <br />
        <p>Username: string</p>
        <br />
        <p>Topic: string</p>
        <br />
        <p>Text: string</p>
        <br />
        <p>Ip: string</p>
        <br />
        <p>GerneratePass: string</p>
        <br />
        <p>PasswordId: int</p>
    </div>
</body>
</html>